* {
    box-sizing: border-box;
}


.bg-theme {
    background-color: #00a096;
}


.bg-theme-back {
    background-color: #00a09612;
}

.cur-p {
    cursor: pointer;
}

@font-face {
    font-family: 'corporate';
    src: url('/fonts/Corporate-Logo-Rounded-Bold-ver3.otf') format('opentype');
  }