main > div {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.ranking-content:first-child .ranking-header img {
    transform: rotate(-17deg);
}


.main-content h5 {
    font-weight: bold;
}

.main-content > a > div:first-child  {
    width: 92px;
    height: 92px;
}

.main-content > a {
    height: 180px;
}

@media screen and (max-width: 600px) {
    .main-content > a {
        height: initial !important;
    }
    .main-content > a > div:first-child  {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-color: initial !important;
        opacity: .4;
    }

    .article-right {
        width: initial !important;
        z-index: 10;
    }
}
    

.article-right {
    width: calc(100% - 123px);
}


.article-right h5:hover {
    text-decoration: underline;
}

.author img{
    width: 26px;
    height: 26px;
    transition: opacity 0.3s 0s ease;
    margin-right: 5px;
}
.author img:hover{
    opacity: .7;
}

.author p {
    font-size: 12.5px;
}

.author p:first-of-type:hover {
    text-decoration:underline;
}

.author p:first-of-type {
    margin-right: 10px;
}

.author p:nth-of-type(2) {
    margin-right: 8px;
}

.author i {
    margin-right: 0.5px;
}

.tag button {
    font-size: 7px;
    height: 21px;
}

.tag button:hover {
    background-color: var(--base-color);
}

.tag button:not(:last-child) {
    margin-right: 5px;
}

.tag button img {
    width: 17px;
    height: 17px;
    margin-right: 2px;
}



.right-content > aside {
    width: 290px;
}
